@model EventIndexViewModel
@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    DateTime endDate = Convert.ToDateTime(@Model.Event.EventDate + @Model.Event.EventTime);
    var time = endDate.ToString("MMMM dd, yyyy HH:mm");
}

<!-- ==========Banner-Section========== -->
<section class="details-banner event-details-banner hero-area bg_img seat-plan-banner" style="padding: 150px 0 31px;">
    <div class="container">
        <div class="details-banner-wrapper">
            <div class="details-banner-content style-two">
                <h3 class="title">
                    <span class="d-block">
                        @Model.Event.EventName
                    </span>
                </h3>

            </div>
        </div>
    </div>
</section>
<!-- ==========Banner-Section========== -->
<!-- ==========Page-Title========== -->
<section class="page-title bg-one">
    <div class="container">
        <div class="page-title-area">
            <div class="item md-order-1">
                <a asp-action="Index" asp-controller="Event" asp-route-id="@Model.Event.Id"
                   class="custom-button back-button">
                    <i class="flaticon-double-right-arrows-angles"></i>Geri
                </a>
            </div>
            <div class="item date-item">
                <span class="date">
                    @time
                </span>
            </div>
            <div class="item">
                @Model.Event.Place.PlaceAddress
            </div>
        </div>
    </div>
</section>
<!-- ==========Page-Title========== -->
<!-- ==========Event-Section========== -->
<div class="event-facility padding-bottom padding-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                @if (!User.Identity.IsAuthenticated)
                {
                    <div class="checkout-widget d-flex flex-wrap align-items-center justify-cotent-between">
                        <div class="title-area">
                            <h5 class="title">Zbilet.com üyesi misin?</h5>
                            <p>Rezervasyonu kolaylaştırmak için giriş yapın!</p>
                        </div>
                        <a asp-action="SignIn" asp-controller="User" class="sign-in-area">
                            <i class="fas fa-user"></i><span>Giriş Yap</span>
                        </a>

                    </div>
                }

@*                <div class="checkout-widget">
                        <div class="row justify-content-center">

                            
                        </div>
                </div>*@
                <div class="checkout-widget checkout-contact">
                    <h5 class="title">İletişim Bilgileri </h5>
                    <form class="checkout-contact-form">
                        <div class="col-12">
                            <div class="form-group w-100">
                                <input class="w-100" asp-for="Name" type="text" placeholder="İsim">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group w-100">
                                <input class="w-100" asp-for="Surname" type="text" placeholder="Soyisim">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group w-100">
                                <input class="w-100" asp-for="EMail" type="text" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group w-100">
                                <input class="w-100" asp-for="PhoneNumber" type="text" placeholder="Telefon Numarası">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="checkout-widget checkout-contact">
                    <div class="row justify-content-between flex-wrap-reverse">
                        <div class="col-lg-8 ">
                            <div class="event-about-content">
                                <div class="section-header-3 left-style m-0 text-white">
                                    <h5 class="title">Fatura Bilgileri </h5>
                                    <ul class="nav nav-tabs mb-5" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="pricing-tab" data-toggle="tab" href="#individual" role="tab"
                                               aria-controls="individual" aria-selected="false">Bireysel Fatura</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " id="rules-tab" data-toggle="tab" href="#institutional" role="tab"
                                               aria-controls="institutional" aria-selected="true">Kurumsal Fatura</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="individual" role="tabpanel"
                                             aria-labelledby="individual-tab">
                                            <div class="mb-3">
                                                <form class="checkout-contact-form">
                                                    <div class="col-12">
                                                        <div class="form-group w-100">
                                                            <input type="hidden" asp-for="Invoice.Price" value="@Model.Event.Price" />
                                                            <input class="w-100" asp-for="Invoice.Name" type="text" placeholder="İsim">
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group w-100">
                                                            <input class="w-100" asp-for="Invoice.Surname" type="text" placeholder="Soyisim">
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group w-100">
                                                            <input class="w-100" asp-for="Invoice.Email" type="text" placeholder="Email">
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group w-100">
                                                            <input class="w-100" asp-for="Invoice.PhoneNumber" type="text" placeholder="Telefon Numarası">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="institutional" role="tabpanel"
                                             aria-labelledby="institutional-tab">
                                            <div class="mb-3">
                                                <form class="checkout-contact-form row">
                                                    <div class="col-6">
                                                        <div class="form-group w-100">
                                                            <input class="w-100" asp-for="CorporateInvoice.TaxNumber" type="text" placeholder="Vergi Numarası">
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-group w-100">
                                                            <input class="w-100" asp-for="CorporateInvoice.Title" type="text" placeholder="Ünvan">
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-group w-100">
                                                            <input class="w-100" asp-for="CorporateInvoice.TaxOffice" type="text" placeholder="Vergi Dairesi">
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-group w-100">
                                                            <input class="w-100" asp-for="CorporateInvoice.Address" type="text" placeholder="Adres">
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-group w-100">
                                                            <input class="w-100" asp-for="CorporateInvoice.Email" type="text" placeholder="Email Adresi">
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-group w-100">
                                                            <input class="w-100" asp-for="CorporateInvoice.PhoneNumber" type="text" placeholder="Telefon">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 ">
                            <div class="event-about-thumb w-75 ">
                                <img class="img-fluid" src="~/admin/uploads/events/@Model.Event.EventImage"
                                     alt="event">
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.DiscountRate == null)
                {
                    <div class="checkout-widget checkout-contact">
                        <h5 class="title">İndirim Kodu</h5>
                        <div class="row mb-30-none">
                            <div class="col-md-12 col-xl-12">
                                <form method="POST" action="#"
                                  class="checkout-contact-form mb-0 w-100">
                                    <div class="form-group w-100">
                                        <input class="w-100" type="text" placeholder="İndirim kodunuz varsa girin"
                                           name="cuponcode">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="İndirim Uygula" class="custom-button">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="col-lg-4">
                <div class="booking-summery bg-one">
                    <h4 class="title">Ödeme Özeti</h4>
                    <ul>
                        <li>
                            <h6 class="subtitle">
                                @Model.Event.Artist.ArtistName
                            </h6>
                        </li>
                        <li>
                            <h6 class="subtitle">
                                <span>
                                    @Model.Event.Place.PlaceAddress
                                </span>
                            </h6>
                            <div class="info">
                                <span>
                                    @time
                                </span>
                            </div>
                        </li>
                        <li>
                            <h6 class="subtitle mb-0">
                                <span>Bilet Birim Fiyatı</span>
                                <span id="unit-price">
                                    0 TL
                                </span>
                            </h6>
                        </li>
                        <li>
                            <h6 class="subtitle mb-0">
                                <span>Adet</span>
                                <span id="quantity-info">
                                    0
                                </span>
                            </h6>
                        </li>
                        <li>
                            <h6 class="subtitle mb-0">
                                <span>Toplam Bilet Fiyatı</span>
                                <span id="total-price">
                                    0 TL
                                </span>
                            </h6>
                        </li>
                    </ul>
                    <ul class="side-shape">
                        <li>
                            <h6 class="subtitle"><span>Kategori</span></h6>
                            <span class="info">
                                <span>
                                    @Model.Event.Category.CategoryName > @Model.Event.Subcategory.SubcategoryName
                                </span>
                            </span>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <h6 class="subtitle mb-0">
                                <span>İndirim tutarı</span>
                                <span id="discount-price">
                                    0 TL
                                </span>
                            </h6>
                        </li>
                    </ul>
                </div>
                
                @if (@Model.Event.EventDate < DateTime.Now)
                {
                    <p>İlginize Teşekkür Ederiz Satış Sonlandı.</p>
                }
                else
                {

                <div class="proceed-area  text-center">
                    <form class="checkout-contact-form row" method="post" asp-action="Payment" asp-controller="Event">
                        <div class="col-12">
                            @if (Model.DiscountRate != null)
                            {
                                <input type="hidden" asp-for="DiscountRate" id="discount-rate" value="@Model.DiscountRate">
                                <input type="hidden" asp-for="DiscountCode" id="discount-code" value="@Model.DiscountCode">
                                
                            }
                            <label for="">Kategori</label>
                            <select class="form-select form-select-sm text-white bg-transparent w-100 "
                                    aria-label=".form-select-sm example" name="category" id="category" required>
                                @if (Model.Prices != null)
                                {
                                    @foreach (var item in Model.Prices)
                                    {
                                        if (item.Id == ViewBag.SelectedPriceNo)
                                        {
                                            <option class="text-dark" value="@item.Id" data-price="@item.Cost" selected>@item.CategoryNo: @item.Cost</option>
                                        }
                                        else
                                        {
                                            <option class="text-dark" value="@item.Id" data-price="@item.Cost">@item.CategoryNo: @item.Cost</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-12">
                            <label for="">Adet</label>
                            <select class="form-select form-select-sm text-white bg-transparent w-100 "
                                    aria-label=".form-select-sm example" name="quantity" id="quantity" required>
                                @for (int i = 1; i <= 10; i++)
                                {
                                    <option class="text-dark" value="@i">@i</option>
                                }
                            </select>
                        </div>
                            <div class="proceed-area  text-center">
                                <h6 class="subtitle">
                                    <span>Toplam ödenecek tutar</span>
                                    <span id="discounted-price">
                                        0 TL
                                    </span>
                                </h6>
                            </div>
                        <div class="col-12">
                            <div class="form-group w-100">
                                <label for="form-group">Kart numarası</label>
                                <input class="w-100" asp-for="CardNumber" type="text" placeholder="Kart Numarası">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group w-100">
                                <label for="form-group">Ay</label>
                                <select class="form-select form-select-sm text-white bg-transparent w-100 "
                                        aria-label=".form-select-sm example" asp-for="ExpirationMonth" required>
                                    @for (int i = 1; i <= 12; i++)
                                    {
                                        <option class="text-dark" value="@i">@i</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group w-100">
                                <label for="form-group">Yıl</label>
                                <select class="form-select form-select-sm text-white bg-transparent w-100 "
                                        aria-label=".form-select-sm example" asp-for="ExpirationYear" required>
                                    @for (int i = 2023; i <= 2040; i++)
                                    {
                                        <option class="text-dark" value="@i">@i</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group w-100">
                                <label for="form-group">Cvv</label>
                                <input class="w-100" asp-for="Cvv" type="text" placeholder="Cvv">
                                <input class="w-100" name="id" value="@Model.Event.Id" type="hidden">
                            </div>
                        </div>
                        <button class="custom-button back-button" type="submit">Ödemeyi Tamamla</button>
                    </form>
                </div>

                }
            </div>
        </div>
    </div>
</div>
<!-- ==========Event-Section========== -->
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            var categoryPrice = parseFloat($("#category option:selected").data("price"));
            var quantity = parseInt($("#quantity").val());
            var totalPrice = categoryPrice * quantity;
            var discountrate = parseInt($("#discount-rate").val());
            $("#quantity-info").text(quantity);
            $("#unit-price").text(categoryPrice.toFixed(2) + " TL");
            $("#total-price").text(totalPrice.toFixed(2) + " TL");

            if (discountrate > 0) {
                var discountprice = (totalPrice * discountrate) / 100;
                var discountedPrice = totalPrice * ((100 - discountrate) / 100);
                $("#discount-price").text(discountprice.toFixed(2) + " TL");
                $("#discounted-price").text(discountedPrice.toFixed(2) + " TL");

            }
            else {
                $("#discount-price").text("0 TL");
                $("#discounted-price").text(totalPrice.toFixed(2) + " TL");
            }

            // Kategori ve adet değiştiğinde fiyatları güncelle
            $("#category, #quantity").change(function () {
                var categoryPrice = parseFloat($("#category option:selected").data("price"));
                var quantity = parseInt($("#quantity").val());
                var totalPrice = categoryPrice * quantity;
                var discountrate = parseInt($("#discount-rate").val());
                $("#quantity-info").text(quantity);
                $("#unit-price").text(categoryPrice.toFixed(2) + " TL");
                $("#total-price").text(totalPrice.toFixed(2) + " TL");


                if (discountrate > 0) {
                    var discountprice = (totalPrice * discountrate) / 100;
                    var discountedPrice = totalPrice * ((100 - discountrate) / 100);
                    $("#discount-price").text(discountprice.toFixed(2) + " TL");
                    $("#discounted-price").text(discountedPrice.toFixed(2) + " TL");
                }
                else {
                    $("#discount-price").text("0 TL");
                    $("#discounted-price").text(totalPrice.toFixed(2) + " TL");
                }
            });

            //var discountedPriceElement = document.getElementById('discounted-price');
            //var discountedPrice = discountedPriceElement.textContent.trim();
            //var amountInputElement = document.getElementById('amount');
            //var amount = discountedPrice.substring(0, discountedPrice.indexOf(' ')); // TL sembolünü kaldır

            //amountInputElement.value = amount;
            //// discounted-price değiştiğinde amount değerini güncelle
            //var amountInputElement2 = document.getElementById('amount');
            //var discountedPriceElement2 = document.getElementById('discounted-price');
            //discountedPriceElement2.addEventListener('DOMSubtreeModified', function () {
            //    var discountedPrice2 = discountedPriceElement2.textContent.trim();
            //    var amount2 = discountedPrice2.substring(0, discountedPrice2.indexOf(' ')); // TL sembolünü kaldır

            //    amountInputElement2.value = amount2;
            //});

        });


    </script>
}
