@model EventIndexViewModel
@{
    ViewData["Title"] = Model.Event.EventName;
    Layout = "_UserLayout";
    DateTime endDate = Convert.ToDateTime(@Model.Event.EventDate + @Model.Event.EventTime);
    var time = endDate.ToString("MMMM dd, yyyy HH:mm");
}

<!-- ==========Event-Banner-Section========== -->
<section class="event-banner-section bg_img" data-background="https://www.zbilet.com/admin/uploads/events/@Model.Event.EventChartImage">

    <!-- <div class="container">
                <div class="event-banner">
                    <a href="<?= $ticket[0]["ticket_video_link"] ?>" class="video-popup">
                        <span></span>
                        <i class="flaticon-play-button"></i>
                    </a>
                </div>
            </div> -->
</section>
<!-- ==========Event-Banner-Section========== -->

<style>
    span {
        color: #fff !important;
    }

    strong {
        color: #fff !important;
    }
</style>

<!-- ==========Event-Book-Search========== -->
<section class="event-book-search pt-lg-0">
    <div class="container">
        <div class="event-search bg_img" data-background="<?= SITE ?>assets/images/ticket/ticket-bg01.jpg">
            <div class="event-search-top">
                <div class="left">
                    <h3 class="title">
                        @Model.Event.EventName
                    </h3>
                    @if (Model.Event.EventCapacity < 21 && Model.Event.EventDate > DateTime.Now && Model.Event.EventCapacity > 0)
                    {
                        <p class='mt-3 text-danger'>Son @Model.Event.EventCapacity Bilet</p>
                    }
                </div>
                <div class="right">
                    @if (Model.Event.EventDate < DateTime.Now)
                    {
                        <p>İlginize Teşekkür Ederiz Satış Sonlandı.</p>
                    }
                    else
                    {
                        <ul class="countdown">
                            <li>
                                <h2><span class="days" id="day">00</span></h2>
                                <p class="days_text">Gün</p>
                            </li>
                            <li>
                                <h2><span class="hours" id="hour">00</span></h2>
                                <p class="hours_text">Saat</p>
                            </li>
                            <li>
                                <h2><span class="minutes" id="minute">00</span></h2>
                                <p class="minu_text">Dakika</p>
                            </li>
                            <li>
                                <h2><span class="seconds" id="second">00</span></h2>
                                <p class="seco_text">Saniye</p>
                            </li>
                        </ul>
                        <a asp-action="CheckOut" asp-route-id="@Model.Event.Id" class="custom-button">satın al</a>
                    }
                </div>
            </div>

            <div class="event-search-bottom">
                <div class="contact-side">
                    <div class="item">
                        <div class="item-thumb">
                            <svg xmlns="http://www.w3.org/2000/svg" style="font-size:35px;" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                            </svg>
                        </div>
                        <div class="item-content">
                            <span>
                                @time
                            </span>
                        </div>
                    </div>
                    <div class="countdown pe-5">
                        <div class="item-thumb">
                            <img src="~/images/event/icon/event-icon02.png" alt="event">
                        </div>
                        <div class="item-content ps-3">
                            <a class="text-white" asp-action="Alt" asp-controller="Place" asp-route-id="@Model.Event.Place.Id">
                                @Model.Event.Place.PlaceName
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Event-Book-Search========== -->


<section class="event-about padding-top padding-bottom" id="satin-al">
    <div class="container">
        <div class="row justify-content-between flex-wrap-reverse">
            <div class="col-lg-8 ">
                <div class="event-about-content">
                    <div class="section-header-3 left-style m-0 text-white">
                        <ul class="nav nav-tabs mb-5" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pricing-tab" data-toggle="tab" href="#desc" role="tab"
                                   aria-controls="desc" aria-selected="false">Etkinlik Açıklaması</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " id="rules-tab" data-toggle="tab" href="#rules" role="tab"
                                   aria-controls="rules" aria-selected="true">Etkinlik Kuralları</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pricing-tab" data-toggle="tab" href="#pricing" role="tab"
                                   aria-controls="pricing" aria-selected="false">Bilet Fiyatları</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade" id="rules" role="tabpanel"
                                 aria-labelledby="rules-tab">
                                <div class="mb-3">
                                    @Html.Raw(@Model.Event.EventRules)
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pricing" role="tabpanel" aria-labelledby="pricing-tab">
                                <form asp-action="Checkout" method="post">
                                    <div class="row">

                                        @if (@Model.Event.EventDate < DateTime.Now)
                                        {
                                            <p>İlginize Teşekkür Ederiz Satış Sonlandı.</p>
                                        }
                                        else
                                        {
                                            @foreach (var item in Model.Prices)
                                            {
                                                if (item.isFull == false)
                                                {
                                                    <div class="col-12">
                                                        <div class="newslater-form row">
                                                            <label class="col-md-4">@item.CategoryNo</label>
                                                            <label class="col-md-4">@Convert.ToDouble(@item.Cost) ₺</label>
                                                            <button class="col-md-4" asp-action="CheckOut" asp-route-id="@Model.Event.Id" asp-route-PriceNo="@item.Id" type="submit">Satın al</button>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-12">
                                                        <div class="newslater-form row">
                                                            <label class="col-md-4">@item.CategoryNo</label>
                                                            <label class="col-md-4">@Convert.ToDouble(@item.Cost) ₺</label>
                                                            <button class="col-md-4" disabled>Tükendi</button>
                                                        </div>
                                                    </div>
                                                }

                                            }

                                        }
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade show active" id="desc" role="tabpanel"
                                 aria-labelledby="rules-tab">
                                <div class="mb-3">
                                    @Html.Raw(@Model.Event.EventDescription)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 ">

                <div class="event-about-thumb w-75 ">
                    <img class="img-fluid" src="~/admin/uploads/events/@Model.Event.EventImage"
                         alt="event">
                </div>
                <div class="row">
                    <div class="col-md-10 text-center mt-3">
                        <a asp-action="Artist" asp-controller="Home" asp-route-id="@Model.Event.Artist.Id" class="btn btn-primary">
                            Sanatçı Sayfasına Git
                        </a>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 text-center mt-3">
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (!Model.IsFavorited)
                            {
                                <form method="post">
                                    <button asp-route-id="@Model.Event.Id" type="submit" class="btn btn-info my-2"><i class="fa fa-heart heart"></i> Favorilere Ekle</button>
                                </form>
                            }
                            else
                            {
                                <form method="post">
                                    <button asp-route-id="@Model.Event.Id" type="submit" class="btn btn-danger my-2"><i class="fa fa-heart heart"></i> Favorilerden Çıkar</button>
                                </form>
                            }

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="speaker-section padding-bottom padding-top">
    <div class="container">
        <div class="section-header-3">
            <h2 class="title">

                <a class="text-white" href="<?= SITE ?>mekan/<?= $place[0][" place_id"] ?>">
                    <?= stripslashes($place[0]["place_title"]) ?>
                </a>

            </h2>
            <p>
                <?= stripslashes($place[0]["place_description"]) ?>
            </p>
        </div>
        <div class="row">
            <?php
                        $images = $VT->VeriGetir("resimler", "WHERE tablo=? and KID=?", array("places", $place_id), "", 3);
                        if ($images != false) {
                        ?>
            <div class="col-md-8">
                <div class="speaker-gallery my-3 ">
                    <?php
                                    foreach ($images as $item) {
                                    ?>
                    <div class="col-4 p-0">
                        <div class="gallery-item two">
                            <div class="gallery-thumb">
                                <a href="<?= SITE ?>images/resimler/<?= $item[" resim"] ?>" class="img-pop">
                                    <i class="flaticon-loupe"></i>
                                </a>
                                <img src="<?= SITE ?>images/resimler/<?= $item[" resim"] ?>" alt="gallery">
                            </div>
                        </div>
                    </div>

                    <?php
                                    }
                                    ?>
                </div>
            </div>
            <?php
                        }
                        ?>
            <div class="col-md-4 text-center">
                <div class="speaker-gallery my-3 ">
                    <div class="gallery-item two">
                        <div class="gallery-thumb">
                            <a href="<?= SITEYONETIM ?>uploads/places/<?= $place[0][" place_menu"] ?>" class="img-pop">
                                <i class="flaticon-loupe"></i>
                            </a>
                            <img src="<?= SITEYONETIM ?>uploads/places/<?= $place[0][" place_menu"] ?>" alt="gallery">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <?php
                    $place_campaigns = $VT->VeriGetir("places_campaigns", "WHERE place_id=?", array($place_id), "");
                    if ($place_campaigns != false) {
                    ?>
        <div class="row">
            <h6>
                <?= stripslashes($place[0]["place_title"]) ?> Kampanyaları
            </h6>
            <div class="col-12 m-0 p-0">
                <table class="table table-dark mt-3" style="background-color: #0a1e5e !important;">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Kampanya</th>
                            <th scope="col">İndirim Oranı</th>
                            <th scope="col">Başlangıç Tarihi</th>
                            <th scope="col">Bitiş Tarihi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php
                                        $camp_sira = 0;
                                        foreach ($place_campaigns as $camp_item) {
                                            $campaign=$VT->VeriGetir("campaigns", "WHERE campaign_id=?", array($camp_item["campaign_id"]), "");
                                            if ($campaign!=false) {
                                                $camp_sira++;
                                                ?>
                        <tr>
                            <th scope="row">
                                <?=$camp_sira?>
                            </th>
                            <td>
                                <?=$campaign[0]["campaign_title"]?>
                            </td>
                            <td>%
                                <?=$campaign[0]["campaign_percent"]?>
                            </td>
                            <td>
                                <?= $VT->turkcetarih_formati("d.m.Y",$campaign[0]["campaign_start_date"])  ?>
                            </td>
                            <td>
                                <?= $VT->turkcetarih_formati("d.m.Y",$campaign[0]["campaign_end_date"])  ?>
                            </td>

                        </tr>
                        <?php
                                            }

                                        }
                                        ?>


                    </tbody>
                </table>
            </div>

        </div>
        <?php
                    }
                    ?>

    </div>
</section> -->
@section Scripts {
    <script type="text/javascript">
        /* Enter here your End date in this format! */
        /* ***** Do not change this code below. ***** */
        var endDate = '@ViewBag.EventTime.ToString("yyyy-MM-ddTHH:mm:ss")';
        var deadLine = new Date(endDate).getTime();

        var x = setInterval(function () {
            var now = new Date().getTime();
            var t = deadLine - now;

            var days = Math.floor(t / (1000 * 60 * 60 * 24));
            var hours = Math.floor((t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((t % (1000 * 60)) / 1000);
            document.getElementById("day").innerHTML = days;
            document.getElementById("hour").innerHTML = hours;
            document.getElementById("minute").innerHTML = minutes;
            document.getElementById("second").innerHTML = seconds;

            /* Output the End date. (Only for Demo) */
            document.getElementById("deadline").innerHTML = endDate;

            if (t < 0) {
                clearInterval(x);
                document.getElementById("demo").innerHTML = "COUNTDOWN FINISHED";
                document.getElementById("day").innerHTML = "0";
                document.getElementById("hour").innerHTML = "0";
                document.getElementById("minute").innerHTML = "0";
                document.getElementById("second").innerHTML = "0";
            }
        }, 1000);
    </script>

}