@model PaymentViewModel

@{
    ViewData["Title"] = "Başarılı";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@*<h2>Başarıyla ödendi.</h2>
<h2>@Model.Status</h2>
<h2>@Model.MerchantId</h2>
<h2>@Model.Xid</h2>
<h2>@Model.PurchAmount</h2>
<h2>@Model.SessionInfo</h2>
<h2>@Model.PurchCurrency</h2>
<h2>@Model.Pan</h2>
<h2>@Model.ExpiryDate</h2>
<h2>@Model.Cvv</h2>
<h2>@Model.Eci</h2>
<h2>@Model.Cavv</h2>
<h2>@Model.VerifyEnrollmentRequestId</h2>
<h2>@ViewBag.Response</h2>
<h2>@Model.Cvv</h2>*@

<h2>@Model.Ticket.UserId</h2>
<h2>@Model.Ticket.EventId</h2>
<h2>@Model.Ticket.ArtistId</h2>
<h2>@Model.Ticket.PriceId</h2>
<h2>@Model.Ticket.Price</h2>
<h2>@Model.Ticket.PurchasedDate</h2>
<h2>@Model.Ticket.TicketCode</h2>




